@media (width<768px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .intro {
    margin-top: 100px;
  }
  .profile {
    padding: 20px;
  }
  .profile .box {
    width: 35%;
    padding: 10px;
  }
  .intro .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 3px;
  }
  .intro .description {
    line-height: 20px;
    text-align: center;
    padding: 0px 20px;
  }
  .intro .graphic {
    justify-content: center;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
  }
  .info1,
  .info2,
  .info3 {
    font-size: 30px;
  }

  .second {
    width: 100vw;
    min-height: 80vh;
    justify-content: space-around;
  }

  .about .heading {
    padding: 10px 0px;
    font-size: 25px;
  }
  .about .aboutContent {
    gap: 15px;
    font-size: 14px;
  }
  .follow .resume {
    font-size: 15px;
  }
  .follow .icons .svgContainer img {
    width: 40px;
    height: 40px;
  }
  .third{
    min-height: 55vh;
  }
  .third .heading{
    margin-top: 100px;
  }
  .third .heading p {
    padding: 10px 20px;
    font-size: 20px;
  }
  .technologies .tech {
    width: 120px;
    height: 120px;
  }
  .fourth .projectHeading {
    padding: 3px 55px;
    font-size: 26px;
    margin-top: 80px;
}
.fourth .projects{
    margin-top: 0px;
    grid-template-columns: 1fr;
    padding: 35px 70px;
}



}
