@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}

:root{
  --primaryBackground:#f6efe5;
  --secondryBackground:#ffa500;
  --textColor:#000000;
  --buttons:'Ubuntu', sans-serif;
  --headings:'Playfair Display', serif;
  --textFont:'Open Sans', sans-serif;

}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  z-index: -5;
}
::-webkit-scrollbar-track {
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff930f, #fff95b);
  border-radius: 5px;
  height: 10px;
}
.main{
  width: 100vw;
}

.container {
  height: 100%;
}
/* nav bar */
.wrapper {
  width: 100vw;
  position: fixed;
  z-index: 30;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 0rem 1.5rem;
  min-height: 72px;
}
nav .logo {
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 20px;
}
nav ul li a:hover{
  color: white;
  transition: 0.2s linear;
}
nav a {
  text-decoration: none;
  color: var(--textColor);
  font-family: var(--buttons);
}
nav .logo img{
  width: 55px;
  border-radius: 50%;
}
nav #toggle,
nav label {
  display: none;
}

@media (max-width: 40.625em) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
/* main content of first section */
.first {
  display: flex;
  min-height: 100vh;
  background-color: var(--primaryBackground);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: grid;
  width: 90vw;
  margin: auto;
  padding: 50px;
  grid-template-columns: 1.4fr 1fr 1fr;
}

/* introduction part */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.intro .heading {
  width: 100%;
  font-family: var(--headings);
  font-size: 2.8rem;
}
.description {
  width: 100%;
  padding-right: 100px;
  font-family: var(--textFont);
}
.graphic {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.graphic .startbtn button {
  border-radius: 28px;
  color: black;
  background-color: var(--secondryBackground);
  padding: 10px 20px;
  box-shadow: 4px 2px 5px;
  font-size: 1.1em;
  font-family: var(--buttons);
  transition: 0.3s linear;
}

.graphic .startbtn button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.graphic .startbtn button a{
  text-decoration: none;
  color: black;
}

.graphic .play img {
  width: 53px;
  margin-right: 100px;
}
.graphic .play img:hover {
  cursor: pointer;
}
/* profile section */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.profile .box {
  width: 50%;
}
.content .profile img {
  width: 100%;
  z-index: 2;
  
}

/* information section */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info1,
.info2,
.info3 {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 21px;
  font-size: 50px;
  justify-content: center;
  font-family: var(--headings); 
}
.info .lower {
  font-size: 20px;
  opacity: 0.8;
  font-family: var(--textFont)
}
/* third part of first section */
.companies {
  background-color: var(--secondryBackground);
  width: 100%;
  height: 13%;
  /* margin: 0px 82px 0px 82px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.companies .box{
  mix-blend-mode: screen;
  filter: invert(1);
}

/* second main container */
.second {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  background: url(assets/backgrounds/second\ backgrond.jpg)
    rgba(255, 255, 255, 0.9);
  background-blend-mode: overlay;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second .photo {
  width: 30%;
}
.second .photo img {
  width: 100%;
}
.about {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 35px;
}
.about .heading {
  padding: 20px 0px;
  font-size: 30px;
  font-family: var(--headings);
  font-weight: 700;
}

.about .aboutContent {
  display: flex;
  flex-direction: column;
  gap: 34px;
  opacity: 0.9;
  font-family: var(--textFont);
}
.follow {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.follow .resume {
  font-family: var(--buttons);

  padding: 10px 18px 10px 18px;
  background-color: orange;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 10px;
  transition: transform linear 0.4s 0s;
}
.follow .resume:hover {
  transform: scale(1.1);
}

.follow .icons {
  display: flex;
  margin-left: 20px;
}

/* third main container */

.third {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--primaryBackground);
}
.third .heading {
  font-size: 40px;
  font-weight: 500;
  border: 2px solid orange;
  border-radius: 45px;
  background-color: orange;
  box-shadow: 0px 5px 10px;
  cursor: pointer;
  transition: transform linear 0.4s 0s;
}
.third .heading:hover {
  transform: scale(1.1);
}
.third .heading p {
  padding: 10px 50px;
  font-size: 32px;
  font-weight: 500;
  font-family: var(--headings)
}
.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.technologies .tech {
  display: flex;
  filter: drop-shadow(6px 6px 8px black);
  width: 220px;
  height: 220px;
  margin: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform linear 0.3s 0s;
}

.technologies .tech:hover {
  transform: scale(1.1);
}

/* fourth main container */

.fourth {
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: var(--primaryBackground);
  align-items: center;
  padding: 30px;
}
.fourth .projectHeading {
  font-size: 35px;
  font-weight: 500;
  font-family: var(--headings);
  border: 2px solid orange;
  border-radius: 45px;
  background-color: orange;
  box-shadow: 0px 5px 10px;
  cursor: pointer;
  padding: 10px 35px;
  transition: transform linear 0.4s 0s;
}
.fourth .projectHeading:hover {
  transform: scale(1.1);
}
.fourth .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 20px;
  padding: 70px;
  padding-top: 40px;
}

.fourth .projects .project {
  background: var(--primaryBackground);
  padding: 20px;
  line-height: 50px;
  box-shadow: 4px 2px 5px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.3s linear;
  cursor: pointer;
}

.fourth .projects .project:hover {
  transform: scale(1.05);
}

.projects .project .p-banner {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.project .p-title {
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
  font-family: var(--headings);
}
.project .p-about {
  font-size: 20px;
  margin-top: 5px;
  line-height: 30px;
  font-family: var(--textFont);
}
.project .p-btns{
  display: flex;
  gap: 10px;
  padding: 10px 0px;
}
.project .p-btns .git{
  border-radius: 50%;
}
.project .p-btns .live{
  background-color: orange;
}

.project .p-btns button{
  font-size: 20px;
  color: black;
  padding: 5px;
  border-radius: 10px;
  /* box-shadow: 0px 5px 10px; */
  filter: drop-shadow(2px 2px 3px black);
}
.project .p-btns button .p-git{
  color: black;
}
.project .p-btns button .p-btn{
  color: black;
  font-family: var(--textFont);
  text-decoration: none;
  padding: 10px;

}


.project .p-btns .git i{
  font-size: 27px;
}


/* fifth seection */

.fifth {
  display: flex;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBackground);
}
.fifth .con {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  /* color: var(--text-color); */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.c-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: var(--headings);
}
.con #contact {
  width: 75%;
  /* height: 290px; */
  border-radius: 10px;
  padding: 7px 15px;
  background: #edddd0;
}
.fifth .con .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  gap: 15px;
}

.inputs input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 7px;
  /* background: rgba(255, 255, 255, 0.7); */
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
  outline: none;
}

.inputs textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 7px;
  /* background: rgba(255, 255, 255, 0.7); */
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
  outline: none;
  resize: none;
}
.con input[type="submit"] {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 15px 0px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
  cursor: pointer;
}

/* sixth section */

.sixth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryBackground);
  padding: 20px;
  gap:5px;
}
.sixth .credit{
  font-size: 18px;
}

.sixth .credit a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}


/* Basic media queries */

@media(width<1180px){
  .content{
    padding: 0px;
  }

  .intro .heading{
    font-size: 2.2rem;
  }
}
